@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Gaegu:wght@300;400;700&family=Sunflower:wght@300;500;700&display=swap');

body, input, button {
    font-family: 'Dongle';
    font-size: 25px;
}

#header {
    text-align: center;
    margin: 50px;
}

h1 {
    margin: 50px 0;
    font-size: 50px;
}

#todoList {
    width: 40vw;
    height: 50px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    margin-right: 20px;
}

#todoList:focus {
    animation: round 1s forwards;
}

@keyframes round {
    from {
        border-radius: 0;
        color: #ccc;
    }
    to {
        border-radius: 30px;
        color: #333;
    }
}

.add {
    background-color: white;
    border-color: #ccc;
    border-radius: 20px;
    width: 70px;
    height: 50px;
}

.checklist {
    border: 3px solid red;
    min-height: 500px;
}

#section {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
}

#section #todoList_result {
    min-width: 400px;
    min-height: 500px;
    border: 1px solid black;
}

#section #checkbox-layout {
    margin: 10px 30px;
    line-height: 40px;
    min-height: 40px;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#btn_layout {
    margin-left: auto;
    display: none;
}

#checkbox-layout:hover #btn_layout {
    display: flex;
}

.modify_btn, .delete_btn {
    width: 40px;
    height: 30px;
    margin: 0 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px;
}

#footer {
    background-color: #555;
    margin-top: 100px;
    padding: 50px 100px;
    min-height: 100px;
}